.main-content {
	margin: auto;
	padding-bottom: 20px;
	max-width: var(--max-width);
}

main {
	min-height: 100vh;
}

ul {
	padding-left: calc(var(--h-gap) * 1.5);
}

li {
	list-style: disc;
}

time {
	font-style: italic;
	color: var(--form-text-placeholder);
}

.article-post img {
	object-fit: cover;
	object-position: center center;
	height: 250px;
	width: 100%;
	aspect-ratio: 1;
}

@media (min-width:600px) {
	.article-post img {
		height: 500px;
	}
}

.article-post video {
	width: 100%;
}

.article-post img.post-medium-image {
	max-height: 600px;
	object-fit: contain;
}