.main-content {
	margin: auto;
	padding-bottom: 20px;
	max-width: 810px;
}

main {
	min-height: 100vh;
}

html {
	/* background-color: transparent; */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fcfcfc' fill-opacity='0.18'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
	background-repeat: repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.03' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

video {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--app-bg: var(--color-bg-9);
		--app-bg-light: var(--color-bg-8);
		--app-bg-dark: var(--color-bg-dark);

		--color-text: var(--color-bg-1);
		--color-text-heading: var(--color-bg-light);
		--color-text-subtle: var(--color-bg-3);

		--color-text-hover: var(--color-bg-6);
		--color-text-active: var(--color-bg-8);
		--color-text-shadow: var(--color-bg-10);
	}
}

.astro-code {
	background-color: transparent !important;
}

article {
	/* border: none;
	box-shadow: none; */
	background-color: var(--app-bg);
}


ul {
	padding-left: calc(4 *var(--h-gap));
}

li {
	list-style: disc;
}

.article-post img {
	object-fit: cover;
	object-position: center center;
	height: 500px;
	width: 100%;
	aspect-ratio: 1;
}

.article-content {
	padding: 20px;
}

time {
	/* flex: 0 0 130px; */
	font-style: italic;
	color: #595959;
	min-width: 130px;
}