---
// WIP TODO WARN Really wip
---

<div class="bg-image"></div>

<style>
  .bg-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url(/public/bg/bg.svg);
    background-size: contain;
    background-position: 150% 150%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  svg {
    width: 100%;
    height: 100%;
  }
</style>
