---
const today = new Date();
import { MY_NAME, PERSONAL_GITHUB, PERSONAL_LINKEDIN } from "../consts";
---

<footer class="vstack">
  <div class="hstack f-jc-center">
    <a href={PERSONAL_GITHUB} target="_blank" title="Github">
      <i class="fa-brands fa-github font-icon-button"></i>
    </a>
    <a href={PERSONAL_LINKEDIN} target="_blank" title="LinkedIn">
      <i class="fa-brands fa-linkedin font-icon-button"></i>
    </a>
  </div>
  <div class="legal">
    &copy; {today.getFullYear()}
    {MY_NAME}. Maybe some rights reserved.
  </div>
</footer>

<style>
  footer {
    padding: 40px 25px;
    text-align: center;
  }
  .font-icon-button {
    font-size: 40px;
  }
</style>
