---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  data-transition-page-link
  href={href}
  class:list={["f-ai-center p-0", className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
  }
  a.active {
    font-weight: 400;
    /* text-decoration: underline; */
  }
</style>
