---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="main-content">
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">
      <!-- <span class="material-symbols-outlined"> in_home_mode</span> -->
			Home
    </HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
  </nav>
</header>
<style>
  header {
    padding: 2em 0 !important;
  }
  h2 {
    margin: 0.5em 0;
  }
  nav {
    justify-content: flex-start;
    gap: 30px;
  }

	span {
		margin: auto 0;
	}
</style>
