<div class="awesome-resources">
  <h2>Influences and cool resources</h2>
  <ul>
    <li><a href="https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rf-package">C++ Core Guidelines</a></li>
  </ul>
</div>

<style>
  .awesome-resources a {
    color: var(--color-text)!important;
  }
</style>