<div class="awesome-resources">
  <b class="upper">Influences and cool resources</b>
  <ul>
    <li><a href="https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rf-package">C++ Core Guidelines</a></li>
  </ul>
</div>

<style>
  .awesome-resources a {
    color: var(--color-text)!important;
  }
</style>