<div class="awesome-resources">
  <b class="upper">Influences and cool resources</b>
  <ul>
    <li>
      <a
        href="https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rf-package"
        target="_blank"
      >
        C++ Core Guidelines
      </a>
    </li>
    <li>
      <a
        href="https://reactresources.com/topics/advanced-concepts"
        target="_blank"
      >
        React Advances Concepts
      </a>
    </li>
    <li>
      <a
        href="https://lexi-lambda.github.io/blog/2019/11/05/parse-don-t-validate/"
        target="_blank"
      >
        Parse, don’t validate
      </a>
    </li>
  </ul>
</div>
