<style>
    #techstackify {
        overflow: visible !important;
        height: auto !important;
        padding: var(--v-gap) var(--h-gap) !important;
        margin: auto;
    }

    ul {
        padding: 0 !important;
        margin: 0 !important;
    }

    li {
        list-style-type: none !important;
    }
</style>

<div
        id="techstackify"
        style="background-color: transparent; overflow: auto; height: 200px; padding: 10px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;"
>
    <ul
            style="gap: 10px; margin: 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; list-style: none"
    >
        <li>
            <div style="">
                <img
                        title="cplusplus"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/cplusplus/cplusplus-plain.svg"
                        alt="cplusplus"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="typescript"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/typescript/typescript-plain.svg"
                        alt="typescript"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="nextjs"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/nextjs/nextjs-original.svg"
                        alt="nextjs"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="git"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/git/git-plain.svg"
                        alt="git"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="svelte"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/svelte/svelte-plain.svg"
                        alt="svelte"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="nodejs"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/nodejs/nodejs-original.svg"
                        alt="nodejs"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="firebase"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/firebase/firebase-plain.svg"
                        alt="firebase"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="cmake"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/cmake/cmake-plain.svg"
                        alt="cmake"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
        <li>
            <div style="">
                <img
                        title="lua"
                        src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/lua/lua-plain.svg"
                        alt="lua"
                        width="80"
                        height="80"
                        style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
                />
            </div>
        </li>
    </ul>
</div>
