<style>
  ul {
    padding: 0 !important;
    margin: 0 !important;
  }
  li {
    list-style-type: none !important;
  }
</style>

<div
  id="techstackify"
  style="background-color: transparent; overflow: visible; height: 272px; padding: 10px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;"
>
  <ul
    style="gap: 10px; margin: 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; list-style: none"
  >
    <li>
      <div style="">
        <img
          title="nextjs"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/nextjs/nextjs-original.svg"
          alt="nextjs"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="cplusplus"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/cplusplus/cplusplus-original.svg"
          alt="cplusplus"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="javascript"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/javascript/javascript-original.svg"
          alt="javascript"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="typescript"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/typescript/typescript-original.svg"
          alt="typescript"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="github"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/github/github-original.svg"
          alt="github"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="c"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/c/c-original.svg"
          alt="c"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="react"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/react/react-original.svg"
          alt="react"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="mongodb"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/mongodb/mongodb-original.svg"
          alt="mongodb"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="svelte"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/svelte/svelte-plain.svg"
          alt="svelte"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: brightness(0) saturate(100%) invert(32%) sepia(57%) saturate(4413%) hue-rotate(0deg) brightness(100%) contrast(107%);"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="git"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/git/git-original.svg"
          alt="git"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="python"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/python/python-original.svg"
          alt="python"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="redux"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/redux/redux-original.svg"
          alt="redux"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="nestjs"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/nestjs/nestjs-plain.svg"
          alt="nestjs"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="nodejs"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/nodejs/nodejs-original.svg"
          alt="nodejs"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="cmake"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/cmake/cmake-original.svg"
          alt="cmake"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="lua"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/lua/lua-original.svg"
          alt="lua"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="django"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/django/django-plain.svg"
          alt="django"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="css3"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/css3/css3-original.svg"
          alt="css3"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="html5"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/html5/html5-original.svg"
          alt="html5"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="latex"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/latex/latex-original.svg"
          alt="latex"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="firebase"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/firebase/firebase-plain.svg"
          alt="firebase"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li><li>
      <div style="">
        <img
          title="jest"
          src="https://raw.githubusercontent.com/daroxs95/devicon/master/icons/jest/jest-plain.svg"
          alt="jest"
          width="60"
          height="60"
          style="aspect-ratio: 1; filter: none"
        />
      </div>
    </li>
  </ul>
</div>
