---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="main-content">
  <nav class="f-ai-end f-jc-start p-0">
    <div class="hstack m-0">
      <HeaderLink class="home-link" href="/">
        <span class="f-ai-center site-title">
          {SITE_TITLE}
        </span>
      </HeaderLink>
    </div>
    <div class="hstack f-jc-start m-0">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
    </div>
    <span id="toggle-theme" class="a">
      <i class="fa-solid fa-moon sfont-icon-button" title="Toggle theme"></i>
    </span>
  </nav>
</header>

<script>
  import {
    setColorTheme,
    getColorTheme,
  } from "../../decss/utils/theme_loader.mjs";

  setColorTheme(getColorTheme());

  const tgt = document.querySelector("#toggle-theme");
  tgt.addEventListener("click", () => {
    setColorTheme(getColorTheme() === "light" ? "dark" : "light");
    const icon = tgt.querySelector("i");
    icon.classList.remove("fa-moon");
    icon.classList.add("fa-sun");
  });
</script>

<style>
  header {
    padding: 2em 0 !important;
  }

  .site-title {
    letter-spacing: 0.2em;
  }

  nav {
    border-bottom-width: 5px;
  }

  nav div {
    flex-wrap: wrap;
  }

  button {
    background-color: transparent !important;
  }

  #toggle-theme {
    margin-left: auto;
    padding: calc(var(--v-gap) / 2) var(--h-gap);
  }
</style>
