---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="main-content">
  <nav class="f-ai-end f-jc-start p-0">
    <div class="hstack m-0">
      <h2 class="f-ai-center p-def">
        {SITE_TITLE}
      </h2>
    </div>
    <div class="hstack p-def f-jc-start m-0">
      <HeaderLink href="/">
        <!-- <span class="material-symbols-outlined"> in_home_mode</span> -->
        Home
      </HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/product">Products</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
    </div>
  </nav>
</header>
<style>
  header {
    padding: 2em 0 !important;
  }
  h2 {
    margin: 0 var(--h-gap);
    padding-bottom: 0;
  }
  .links {
    gap: var(--h-gap);
  }
</style>
