---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="main-content">
  <nav class="f-ai-end f-jc-start p-0">
    <div class="hstack m-0">
      <HeaderLink class="home-link" href="/">
        <span class="f-ai-center p-def">
          {SITE_TITLE}
        </span>
      </HeaderLink>
    </div>
    <div class="hstack p-def f-jc-start m-0">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
    </div>
  </nav>
</header>
<style>
  header {
    padding: 2em 0 !important;
  }
  h2 {
    margin: 0 var(--h-gap);
    padding-bottom: 0;
  }
  .links {
    gap: var(--h-gap);
  }
  .home-link {
    color: var(--color-text) !important;
    text-decoration: none;
  }
</style>
