---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Darián López Utra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <!-- opengraph -->
    <meta
      name="description"
      content="Darián López Utra's resume. Mathematician and Software Engineer"
    />
    <meta name="keywords" content="CV, resume, curriculum vitae" />
    <meta name="author" content="Darián López Utra" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Darián López Utra" />
    <meta
      property="og:description"
      content="Darián López Utra's resume. Mathematician and Software Engineer"
    />
    <meta property="og:image" content="public/cv2.jpg" />
    <!-- <meta property="og:url" content="https://jqvcjt.csb.app/" /> -->
    <meta property="og:type" content="website" />
  </head>

  <body>
    <main>
      <div class="profile-pic">
        <img alt="" width="300" src="/cv2.jpg" />
      </div>

      <section class="about">
        <div class="presentation">
          <h1 class="name">Darián López Utra</h1>
          <h4>Mathematician | Software Engineer</h4>
        </div>
        <p>
          Hi, mathematician here, really exited about technology, programming,
          videogames, music and knowledge.
        </p>
        <p>
          I am little introvert and with some issues to maintain focus, that is
          why I have a lot of pet projects and ideas, to be able to be
          constantly working on something.
        </p>
        <p>
          When you get to know me, I am a lot of fun and an incredible fast
          learner, "a great asset" you may think, well, that's correct. Feel
          free to <a href="#contact">reach out</a>.
        </p>
      </section>

      <section class="cols-2">
        <h1>Experiences</h1>
        <div class="experiences-container">
          <div class="experiences-group">
            <div class="experience">
              <h3>Technical Leader</h3>
              <h4>Tetraimpacts</h4>
              <time>2/2022-present</time>
            </div>
            <div class="experience">
              <h3>Frontend Developer</h3>
              <h4>Crinnotech</h4>
              <time>3/2022-3/2023</time>
            </div>
            <div class="experience">
              <h3>React Native Developer</h3>
              <h4>Sibucan</h4>
              <time>6/2022-9/2022</time>
            </div>
          </div>

          <div class="experiences-group">
            <div class="experience">
              <h3>C++ Developer</h3>
              <h4>Potatobite</h4>
              <time>1/2021-1/2022</time>
            </div>
            <div class="experience">
              <h3>Frontend Developer</h3>
              <h4>Kmada</h4>
              <time>7/2020-1/2021</time>
            </div>
            <a
              class="link-button"
              target="_blank"
              referrerpolicy="no-referrer"
              href="https://www.linkedin.com/in/darian-lopez-utra/"
              >Detailed LinkedIn CV</a
            >
          </div>
        </div>
      </section>

      <section class="cols-2">
        <h1>Education</h1>
        <div class="experiences-container">
          <div class="experience">
            <h3>Bachelor's degree, Mathematics</h3>
            <h4>University of Havana</h4>
            <time>9/2014-1/2021</time>
          </div>
          <div class="experience">
            <h3>Master's degree, Frontend Development</h3>
            <h4>HARBOUR.SPACE</h4>
            <time>9/2022-present</time>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-content">
        <h2 id="contact">Contact</h2>
        <div class="social">
          <a href="tel:+5358375347">+5358375347</a>
          <a href="mailto:daroxs95@gmail.com">daroxs95@gmail.com</a>
          <a
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://www.linkedin.com/in/darian-lopez-utra/">LinkedIn</a
          >
          <a
            target="_blank"
            referrerpolicy="no-referrer"
            href="https://github.com/daroxs95/">Github</a
          >
        </div>
        <h4 style="text-align: center">
          • Made with <span>❤</span> by
          <a href="https://github.com/daroxs95">Darián López Utra</a>
          • 2023 •
        </h4>
      </div>
    </footer>
  </body>
</html>

<style>
  /* @import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"); */
  /* @import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap'); */
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --v-space: 20px;
    --h-space: 20px;
    --max-width: 1024px;
    @media (width >= 768px) {
      --v-space: 20px;
      --h-space: 40px;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Quicksand", "Young Serif", sans-serif;
    font-weight: 600;
    line-height: 150%;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    padding-bottom: var(--v-space);
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 34px;
    line-height: 200%;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    line-height: 200%;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    line-height: 200%;
  }

  main {
    max-width: var(--max-width);
    margin: var(--v-space) auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc(var(--v-space) * 4);
    @media (width >= 768px) {
      column-gap: var(--h-space);
      grid-template-columns: 1fr 1fr;
      margin: calc(var(--v-space) * 4) auto;
    }
  }

  section {
    padding: var(--v-space) var(--h-space);
  }

  .profile-pic img {
    filter: grayscale(100%);
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 485px;
    box-shadow: black calc(-1 * var(--h-space) / 4) calc(var(--h-space) / 4);
  }

  .presentation {
    margin-bottom: var(--v-space);
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1;
    @media (width >= 768px) {
      grid-row: unset;
    }
  }

  .profile-pic {
    grid-row: 2;
    @media (width >= 768px) {
      grid-row: unset;
    }
  }

  .name {
    color: white;
    background-color: black;
    width: fit-content;
    padding: calc(var(--v-space) / 2) calc(var(--v-space) / 2);
    margin-left: calc(var(--v-space) / -2);
  }

  .experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 5px solid #dadada;
    padding-left: 5px;
  }

  .experience time {
    font-size: 14px;
  }

  .experience h4 {
    padding: 0;
    margin: 0;
  }

  .cols-2 {
    grid-column: span 2;
  }

  .experiences-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--v-space);
    column-gap: var(--h-space);
    @media (width >= 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .experiences-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--v-space) * 2);
  }

  .experience h3 {
    margin-bottom: calc(var(--v-space) / 2);
    padding-bottom: 0;
    line-height: 150%;
    position: relative;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 50%
    );
    background-size: 210% auto;
    background-position: 100%;
    background-repeat: no-repeat;
    width: fit-content;

    transition-property: background-position, color;
    transition-duration: 0.1s;
    transition-delay: 0s;
  }

  .experience:hover h3 {
    color: white;
    background-position: 0%;
  }

  a {
    color: black;
    transition: color 0.1s, background-color 0.1s;
  }

  a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }

  footer {
    background-color: black;
    color: white;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    color: black;
    background-color: white;
  }

  .footer-content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: calc(var(--v-space) * 4) var(--h-space);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--h-space));
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--h-space) / 4);
  }

  .social a {
    font-size: 25px;
    padding: calc(var(--v-space) / 2) var(--h-space);
  }

  .link-button {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: calc(var(--v-space) / 2) calc(var(--h-space) / 2);
    width: fit-content;
    border: 1px solid transparent;
  }

  .link-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
</style>
