---
import "../../../decss/reset.css";
import "../../../decss/theme.css";
import "../../../decss/scrollbar.css";
import "../../styles/typography.css";
import "../../styles/vars.css";
import "../../styles/components/anchor.css";

import Head from "../../components/Head.astro";
import Footer from "../../components/Footer.astro";
import { MY_NAME } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={MY_NAME}
      description="Darián López Utra's resume. Mathematician and Software Engineer"
      image="/cv.jpg"
      keywords="CV, resume, curriculum vitae"
      author={MY_NAME}
    />
  </head>

  <body>
    <main>
      <div class="profile-pic">
        <img alt="" width="300" src="/cv.jpg" />
      </div>

      <section class="about">
        <div class="presentation">
          <h1 class="name">{MY_NAME}</h1>
          <p>
            <b>Mathematician | Software Engineer</b>
          </p>
        </div>
        <p>
          Hi, mathematician here, really exited about technology, programming,
          videogames, music and knowledge.
        </p>
        <p>
          I am little introvert and with some issues to maintain focus, that is
          why I have a lot of pet projects and ideas, to be able to be
          constantly working on something.
        </p>
        <p>
          When you get to know me, I am a lot of fun and an incredible fast
          learner. If we are a match feel free to <a href="#contact"
            >reach out</a
          >.
        </p>
      </section>

      <section class="cols-2">
        <h1>Experiences</h1>
        <div class="experiences-container">
          <div class="experiences-group">
            <div class="experience">
              <h3>Technical Leader</h3>
              <h4>Tetraimpacts</h4>
              <time datetime="2022-02">2/2022-present</time>
            </div>
            <div class="experience">
              <h3>Frontend Developer</h3>
              <h4>Crinnotech</h4>
              <time datetime="2022-03">3/2022-3/2023</time>
            </div>
            <div class="experience">
              <h3>React Native Developer</h3>
              <h4>Sibucan</h4>
              <time datetime="2022-06">6/2022-9/2022</time>
            </div>
          </div>

          <div class="experiences-group">
            <div class="experience">
              <h3>C++ Developer</h3>
              <h4>Potatobite</h4>
              <time datetime="2021-01">1/2021-1/2022</time>
            </div>
            <div class="experience">
              <h3>Frontend Developer</h3>
              <h4>Kmada</h4>
              <time datetime="2020-07">7/2020-1/2021</time>
            </div>
            <a
              class="link-button"
              target="_blank"
              referrerpolicy="no-referrer"
              href="https://www.linkedin.com/in/darian-lopez-utra/"
              >Detailed LinkedIn CV</a
            >
          </div>
        </div>
      </section>

      <section class="cols-2">
        <h1>Education</h1>
        <div class="experiences-container">
          <div class="experience">
            <h3>Bachelor's degree, Mathematics</h3>
            <h4>University of Havana</h4>
            <time datetime="2014-09">9/2014-1/2021</time>
          </div>
          <div class="experience">
            <h3>Master's degree, Frontend Development</h3>
            <h4>HARBOUR.SPACE</h4>
            <time datetime="2022-09">9/2022-present</time>
          </div>
        </div>
      </section>
    </main>

    <Footer />
    <style>
      :root {
        --max-width: 1024px;
      }
      html {
        scroll-behavior: smooth;
      }

      main {
        max-width: var(--max-width);
        margin: var(--v-gap) auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: calc(var(--v-gap) * 4);
        @media (width >= 768px) {
          column-gap: var(--h-gap);
          grid-template-columns: 1fr 1fr;
          margin: calc(var(--v-gap) * 4) auto;
        }
      }

      section {
        padding: var(--v-gap) var(--h-gap);
      }

      .profile-pic img {
        filter: grayscale(100%);
        object-fit: cover;
        object-position: top;
        width: 100%;
        max-height: 485px;
        box-shadow: black 0 calc(var(--h-gap) / 4);
        @media (width >= 768px) {
          box-shadow: black calc(-1 * var(--h-gap) / 4) calc(var(--h-gap) / 4);
        }
      }

      .presentation {
        margin-bottom: var(--v-gap);
      }

      .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: 1;
        @media (width >= 768px) {
          grid-row: unset;
        }
      }

      .profile-pic {
        grid-row: 2;
        @media (width >= 768px) {
          grid-row: unset;
        }
      }

      .name {
        color: white;
        background-color: black;
        width: fit-content;
        padding: calc(var(--v-gap) / 2) calc(var(--v-gap) / 2);
        margin-left: calc(var(--v-gap) / -2);
      }

      .experience {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left: 5px solid #dadada;
        padding-left: 5px;
      }

      .experience time {
        font-size: 14px;
      }

      .experience h4 {
        padding: 0;
        margin: 0;
      }

      .cols-2 {
        grid-column: span 2;
      }

      .experiences-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--v-gap);
        column-gap: var(--h-gap);
        @media (width >= 768px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      .experiences-group {
        display: flex;
        flex-direction: column;
        gap: calc(var(--v-gap) * 2);
      }

      .experience h3 {
        margin-bottom: calc(var(--v-gap) / 2);
        padding-bottom: 0;
        line-height: 150%;
        position: relative;
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 50%,
          rgba(255, 255, 255, 1) 50%
        );
        background-size: 210% auto;
        background-position: 100%;
        background-repeat: no-repeat;
        width: fit-content;

        transition-property: background-position, color;
        transition-duration: 0.1s;
        transition-delay: 0s;
      }

      .experience:hover h3 {
        color: white;
        background-position: 0;
      }

      footer {
        background-color: black;
        color: white;
      }

      footer a {
        color: white;
      }

      footer a:hover {
        color: black;
        background-color: white;
      }

      .footer-content {
        max-width: var(--max-width);
        margin: 0 auto;
        padding: calc(var(--v-gap) * 4) var(--h-gap);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: calc(var(--h-gap));
      }

      .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--h-gap) / 4);
      }

      .social a {
        font-size: 25px;
        padding: calc(var(--v-gap) / 2) var(--h-gap);
      }

      .link-button {
        text-decoration: none;
        color: white;
        background-color: black;
        padding: calc(var(--v-gap) / 2) calc(var(--h-gap) / 2);
        width: fit-content;
        border: 1px solid transparent;
      }

      .link-button:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
    </style>
  </body>
</html>
