button {
  text-decoration: none;
  color: var(--app-bg);
  background-color: var(--color-text);
  padding: calc(var(--v-gap) / 2) calc(var(--h-gap) / 2);
  width: fit-content;
  border: 1px solid transparent;
  font-size: 1rem;
  transition: color var(--anim-duration) ease-in-out,
  background-color var(--anim-duration) ease-in-out,
  border var(--anim-duration) ease-in-out,
  box-shadow var(--anim-duration) ease-in-out;
}

button:hover:not(:disabled) {
  color: var(--color-text);
  background-color: var(--app-bg);
  border: 1px solid var(--color-text);
  box-shadow: none;
}